*.o
*.aadl
*.autosave
*.ini
*.gpr

**/wrappers/*
**/code/*

work/binaries
work/build
work/dataview
work/Debug
work/sql_db
work/glue_debug
work/Makefile
work/skeletons_built
work/taste.pro
work/glue_debug
