*.o
*.aadl
*.autosave
*.ini
*.gpr
Makefile.*

**/wrappers/*
**/cache/*
**/modelchecking/**/*.adb
**/modelchecking/**/*.ads

work/binaries
work/build
work/dataview
work/Debug
work/sql_db
work/glue_simu
work/glue_debug
work/Makefile
work/skeletons_built
work/taste.pro
