image: registry.gitlab.com/aurora-software/spacecreator/taste-buster:latest

stages:
  - build-test
  - build-test-and-bundle
  - code-coverage
  - documentation

default:
  before_script:
    - export PROJECT_ROOT=$(pwd)
    - export ENV_QTC_VERSION_SHORT=4.8
    - export ENV_QTC_VERSION=4.8.2
    - export ENV_QT_VERSION=5.12.1
    - export DOWNLOAD_DIR=/opt/qt-creator-dev
    - export BUILD_DIR=${PROJECT_ROOT}/build
    - export PACKAGE_DIR=${PROJECT_ROOT}/package
    - export CMAKE_BUILD=-DCMAKE_BUILD_TYPE=Release
    - export ENV_QT_BASE_DIR=${DOWNLOAD_DIR}/Qt/${ENV_QT_VERSION}/gcc_64
    - export QTC_INSTALL=${DOWNLOAD_DIR}/spacecreator.AppDir
    - export QTC_SOURCE=${QTC_INSTALL}
    - mkdir -p ${DOWNLOAD_DIR}
    - mkdir -p ${BUILD_DIR}
    - mkdir -p ${PACKAGE_DIR}
    # dependencies
    - apt install -y  build-essential git g++ cmake cmake-data ninja-build make gcovr lcov ccache cccc doxygen graphviz zip p7zip curl wget default-jre uuid-dev pkg-config fuse python3-pip
    # install qtcreator sources
    - ./scripts/download_qtcreator.sh
    - ./scripts/build_grantlee.sh


space-creator-dev:
  stage: build-test
  script:
    # build space creator
    - cd ${BUILD_DIR}
    - cmake -GNinja -S ${PROJECT_ROOT} -B ${BUILD_DIR} ${CMAKE_BUILD} -DBUILD_PATCH_NUMBER=$CI_BUILD_ID -DCMAKE_PREFIX_PATH:STRING=${ENV_QT_BASE_DIR} -DQT_QMAKE_EXECUTABLE:STRING=${ENV_QT_BASE_DIR}/bin/qmake
    - cmake --build . --target all
    # unit tests
    - cd ${DOWNLOAD_DIR}
    - wget -q -O - https://github.com/ttsiodras/asn1scc/releases/download/4.2.4.7f/asn1scc-bin-4.2.4.7f.tar.bz2 | tar jxvf -
    - export PATH=$PATH:${DOWNLOAD_DIR}/asn1scc
    - cd ${PROJECT_ROOT}
    - ./scripts/run_tests.sh ${BUILD_DIR}
  cache:
    key: asn1scc
    paths:
      - build/asn1scc_bin
  artifacts:
    reports:
      junit: build/tst_*-result.xml
  rules:
    # For pipelines created when a merge request is created or updated
    - if: "$CI_PIPELINE_SOURCE == 'merge_request_event'"


space-creator:
  stage: build-test-and-bundle
  script:
    # build space creator
    - cd ${BUILD_DIR}
    - cmake -GNinja -S ${PROJECT_ROOT} -B ${BUILD_DIR} ${CMAKE_BUILD} -DBUILD_PATCH_NUMBER=$CI_BUILD_ID -DCMAKE_PREFIX_PATH:STRING=${ENV_QT_BASE_DIR} -DQT_QMAKE_EXECUTABLE:STRING=${ENV_QT_BASE_DIR}/bin/qmake
    - cmake --build . --target all
    # unit tests
    - cd ${DOWNLOAD_DIR}
    - wget -q -O - https://github.com/ttsiodras/asn1scc/releases/download/4.2.4.7f/asn1scc-bin-4.2.4.7f.tar.bz2 | tar jxvf -
    - export PATH=$PATH:${DOWNLOAD_DIR}/asn1scc
    - cd ${PROJECT_ROOT}
    - ./scripts/run_tests.sh ${BUILD_DIR}
    # Create AppImage
    - ${PROJECT_ROOT}/scripts/create_appimage.sh
  cache:
    key: asn1scc
    paths:
      - build/asn1scc_bin
  artifacts:
    reports:
      junit: build/tst_*-result.xml
    paths:
      - package
    expire_in: 2 days
  rules:
    - if: "$CI_COMMIT_BRANCH == 'master'"


space-creator-coverage:
  stage: code-coverage
  coverage: '/Code coverage: ^ *lines\.*:\s+(\d+.\d+\%)/'
  script:
    - export LD_LIBRARY_PATH=$LD_LIBRARY_PATH:/usr/lib/x86_64-linux-gnu/qtcreator:/usr/lib/x86_64-linux-gnu/qtcreator/plugins
    - export QT_QPA_PLATFORM=offscreen
    - mkdir -p coverage ; cd coverage ; rm * -rf
    - cmake -G Ninja -DCOVERAGE_ENABLED=ON ..
    - ninja ; ../scripts/run_tests.sh . ; ninja coverage ; ninja coverage_html
  cache:
    key: asn1scc
    paths:
      - build/asn1scc_bin
  rules:
    - if: "$CI_COMMIT_BRANCH == 'master'"
      when: never


space-creator-doc:
  stage: documentation
  script:
    - ./scripts/generate_documentation.sh
  artifacts:
    paths:
      - doc/doxygen/html
    expire_in: 2 days
  rules:
    - if: "$CI_COMMIT_BRANCH == 'master'"
      when: never
