# Prerequisites
*.d

# Precompiled Headers
*.gch
*.pch

# IDE files
CMakeLists.txt.user
*.pro.user

# System files
.directory

# Example files to be used locally
examples/*.local.msc

# Generated API documentation
doc/doxygen

# VS Code directory
.vscode
