*.o
*.aadl
*.autosave
*.ini
*.gpr
*.md5
*.msc

**/wrappers/*
**/cache/*
**/controller/**/*.ad*
**/controller/**/*.md5
**/controller/**/Makefile
**/controller/**/*.pro
**/host/**/*.ad*
**/host/**/*.md5
**/host/**/Makefile
**/host/**/*.pro
**/modelchecking/**/*.adb
**/modelchecking/**/*.ads
work/**/GUI/src
work/**/SDL/**/Makefile.*

work/binaries/
work/build/
work/dataview/
work/Debug/
work/Dump/
work/sql_db/
work/glue_simu/
work/glue_debug/
work/Makefile
work/skeletons_built
work/taste.pro
work/mmi/
work/simulation/cache/
work/simulation/include/
work/simulation/lib/
work/simulation/mcsrc/
work/simulation/obj/
work/simulation/observers/*.ad*
work/simulation/python/
work/simulation/share/
work/simulation/*.ali
work/simulation/*.so
work/simulation/*.ui
work/simulation/*.cfg
work/simulation/*.sqlite

real-constraints.msc
work/controller/implem/default/SDL/src/
work/controller/SDL/src/Controller.cfg
