**/dataview/
**/build/
**/Dump/
**/binaries/
**/Debug/
**/C/src/*.h
**/work/Makefile
**/wrappers/
**/xmi/
**/C/Makefile
**/QGenC/Makefile
**/C/*.pro
**/implem/default/*.pro
*.msc
*.log
*.pro.user
*.aadl
skeletons_built
glue_debug
built
