work/*

# Except controller source
!work/controller/
work/controller/*
!work/controller/C
work/controller/C/*
!work/controller/C/src
work/controller/C/src/*
!work/controller/C/src/comparison_defines.h
!work/controller/C/src/controller.c
!work/controller/C/src/objects_of_choice_data_types.h
!work/controller/C/src/objects_of_fixed_size_sequence_of_data_types.h
!work/controller/C/src/objects_of_sequence_data_types.h
!work/controller/C/src/objects_of_variable_size_sequence_of_data_types.h
!work/controller/C/src/tool_defines.h

# Except qgencimplalias source
!work/qgencimplalias/
work/qgencimplalias/*
!work/qgencimplalias/QGenC/
work/qgencimplalias/QGenC/*
!work/qgencimplalias/QGenC/src/
work/qgencimplalias/QGenC/src/*
!work/qgencimplalias/QGenC/src/pi_aliasIface.slx
!work/qgencimplalias/QGenC/src/QgencimplaliasRi_Aliasiface.mexw64
!work/qgencimplalias/QGenC/src/.qgencimplalias_script.m.md5

# Except qgencimplchoice source
!work/qgencimplchoice/
work/qgencimplchoice/*
!work/qgencimplchoice/QGenC/
work/qgencimplchoice/QGenC/*
!work/qgencimplchoice/QGenC/src/
work/qgencimplchoice/QGenC/src/*
!work/qgencimplchoice/QGenC/src/pi_choiceIface.slx
!work/qgencimplchoice/QGenC/src/.qgencimplchoice_script.m.md5

# Except qgencimplseq source
!work/qgencimplseq/
work/qgencimplseq/*
!work/qgencimplseq/QGenC/
work/qgencimplseq/QGenC/*
!work/qgencimplseq/QGenC/src/
work/qgencimplseq/QGenC/src/*
!work/qgencimplseq/QGenC/src/pi_seqIface.slx
!work/qgencimplseq/QGenC/src/QgencimplseqRi_Seqiface.mexw64
!work/qgencimplseq/QGenC/src/.qgencimplseq_script.m.md5

# Except qgencimplseqoffixedsize source
!work/qgencimplseqoffixedsize/
work/qgencimplseqoffixedsize/*
!work/qgencimplseqoffixedsize/QGenC/
work/qgencimplseqoffixedsize/QGenC/*
!work/qgencimplseqoffixedsize/QGenC/src/
work/qgencimplseqoffixedsize/QGenC/src/*
!work/qgencimplseqoffixedsize/QGenC/src/pi_seqOfFixedSizeIface.slx
!work/qgencimplseqoffixedsize/QGenC/src/QgencimplseqoffixedsizeRi_Seqoffixedsizeiface.mexw64
!work/qgencimplseqoffixedsize/QGenC/src/.qgencimplseqoffixedsize_script.m.md5

# Except qgencimplseqofvariablesize source
!work/qgencimplseqofvariablesize/
work/qgencimplseqofvariablesize/*
!work/qgencimplseqofvariablesize/QGenC/
work/qgencimplseqofvariablesize/QGenC/*
!work/qgencimplseqofvariablesize/QGenC/src/
work/qgencimplseqofvariablesize/QGenC/src/*
!work/qgencimplseqofvariablesize/QGenC/src/pi_seqOfVariableSizeIface.slx
!work/qgencimplseqofvariablesize/QGenC/src/QgencimplseqofvariablesizeRi_Seqofvariablesizeiface.mexw64
!work/qgencimplseqofvariablesize/QGenC/src/.qgencimplseqofvariablesize_script.m.md5

# Except cimplalias source
!work/cimplalias/
work/cimplalias/*
!work/cimplalias/C
work/cimplalias/C/*
!work/cimplalias/C/src
work/cimplalias/C/src/*
!work/cimplalias/C/src/cimplalias.c

# Except cimplseq source
!work/cimplseq/
work/cimplseq/*
!work/cimplseq/C
work/cimplseq/C/*
!work/cimplseq/C/src
work/cimplseq/C/src/*
!work/cimplseq/C/src/cimplseq.c

# Except cimplseqoffixedsize source
!work/cimplseqoffixedsize/
work/cimplseqoffixedsize/*
!work/cimplseqoffixedsize/C
work/cimplseqoffixedsize/C/*
!work/cimplseqoffixedsize/C/src
work/cimplseqoffixedsize/C/src/*
!work/cimplseqoffixedsize/C/src/cimplseqoffixedsize.c

# Except cimplseqofvariablesize source
!work/cimplseqofvariablesize/
work/cimplseqofvariablesize/*
!work/cimplseqofvariablesize/C
work/cimplseqofvariablesize/C/*
!work/cimplseqofvariablesize/C/src
work/cimplseqofvariablesize/C/src/*
!work/cimplseqofvariablesize/C/src/cimplseqofvariablesize.c

# qtcreator generated files:
*.pro.user*

# Project files (AADL) autogenerated by TASTE
*.aadl

# .msc files
*.msc
