*.aadl
.cache/
*.pro.user

# Ignore whole work directory
work/*

# Except dataview
!work/dataview/
work/dataview/*
!work/dataview/dataview-uniq.asn

# Except observer.asn
!work/simulation/
work/simulation/*
!work/simulation/observers/
work/simulation/observers/*
!work/simulation/observers/observer.asn

# Except controller source
!work/controller/
work/controller/*
!work/controller/SDL
work/controller/SDL/*
!work/controller/SDL/src
work/controller/SDL/src/*
!work/controller/SDL/src/controller.pr
!work/controller/SDL/src/controller_bad.pr
!work/controller/SDL/src/system_structure.pr
!work/controller/SDL/src/dataview-uniq.asn

# Except actuator source
!work/actuator/
work/actuator/*
!work/actuator/SDL
work/actuator/SDL/*
!work/actuator/SDL/src
work/actuator/SDL/src/*
!work/actuator/SDL/src/actuator.pr
!work/actuator/SDL/src/system_structure.pr
!work/actuator/SDL/src/dataview-uniq.asn

# Except observer
!work/modelchecking/
work/modelchecking/*
!work/modelchecking/properties
work/modelchecking/properties/*
!work/modelchecking/properties/observer
work/modelchecking/properties/observer/*
!work/modelchecking/properties/observer/observer.asn
!work/modelchecking/properties/observer/observer_datamodel.asn
!work/modelchecking/properties/observer/observer.pr
