dataview/
build/
Dump/
*.msc
binaries/
Debug/
*.log
*.pro.user
skeletons_built
glue_debug
*.aadl
built
**/C/src/controller.h
**/work/Makefile
**/wrappers/
**/xmi/
**/C/Makefile
**/QGenC/Makefile
**/C/*.pro
**/implem/default/*.pro
