*.o
*.aadl
*.autosave
*.ini
*.gpr
*.md5
*.msc

**/wrappers/*
**/cache/*

work/left/**/*.ad*
work/left/**/*.md5
work/left/**/Makefile
work/left/**/*.pro

work/right/**/*.ad*
work/right/**/*.md5
work/right/**/Makefile
work/right/**/*.pro

work/gui

work/**/SDL/**/Makefile.*

**/modelchecking/**/*.adb
**/modelchecking/**/*.ads

work/binaries
work/build
work/clock/
work/Debug
work/Dump
work/sql_db
work/glue_simu
work/glue_debug
work/Makefile
work/skeletons_built
work/taste.pro
work/mmi
work/simulation/cache
work/simulation/include
work/simulation/lib
work/simulation/mcsrc
work/simulation/obj
work/simulation/observers/*.ad*
work/simulation/python
work/simulation/share
work/simulation/*.ali
work/simulation/*.so
work/simulation/*.ui
work/simulation/*.cfg
work/simulation/*.sqlite

# Except dataview
!work/dataview/
work/dataview/*
!work/dataview/dataview-uniq.asn
