*.o
*.aadl
*.autosave
*.ini
*.gpr
*.md5
*.msc

**/wrappers/*
**/cache/*
**/sdlmodel/**/*.ad*
**/sdlmodel/**/*.md5
**/sdlmodel/**/Makefile
**/sdlmodel/**/*.pro
**/environment/**/*.ad*
**/environment/**/*.md5
**/environment/**/Makefile
**/environment/**/*.pro
**/modelchecking/**/*.adb
**/modelchecking/**/*.ads
work/**/GUI/src
work/**/SDL/**/Makefile.*

work/binaries/
work/build/
work/dataview/
work/Debug/
work/Dump/
work/sql_db/
work/glue_simu/
work/glue_debug/
work/Makefile
work/skeletons_built
work/taste.pro
work/mmi/
work/simulation/cache/
work/simulation/include/
work/simulation/lib/
work/simulation/mcsrc/
work/simulation/obj/
work/simulation/observers/*.ad*
work/simulation/python/
work/simulation/share/
work/simulation/*.ali
work/simulation/*.so
work/simulation/*.ui
work/simulation/*.cfg
work/simulation/*.sqlite

work/sdlmodel/implem/default/SDL/src/
work/sdlmodel/SDL/src/sdlmodel.cfg
