*.aadl
.cache/
*.pro.user

# Ignore whole work directory
work/*

# Except observer.asn
!work/simulation/
work/simulation/*
!work/simulation/observers/
work/simulation/observers/*
!work/simulation/observers/observer.asn

# Except controller source
!work/controller/
work/controller/*
!work/controller/SDL
work/controller/SDL/*
!work/controller/SDL/src
work/controller/SDL/src/*
!work/controller/SDL/src/controller.pr
!work/controller/SDL/src/system_structure.pr
!work/controller/SDL/src/dataview-uniq.asn

# Except actuator1 source
!work/actuator1/
work/actuator1/*
!work/actuator1/SDL
work/actuator1/SDL/*
!work/actuator1/SDL/src
work/actuator1/SDL/src/*
!work/actuator1/SDL/src/actuator1.pr
!work/actuator1/SDL/src/system_structure.pr
!work/actuator1/SDL/src/dataview-uniq.asn

# Except actuator2 source
!work/actuator2/
work/actuator2/*
!work/actuator2/SDL
work/actuator2/SDL/*
!work/actuator2/SDL/src
work/actuator2/SDL/src/*
!work/actuator2/SDL/src/actuator2.pr
!work/actuator2/SDL/src/system_structure.pr
!work/actuator2/SDL/src/dataview-uniq.asn

# Except work/modelchecking/properties
!work/modelchecking/
work/modelchecking/*
!work/modelchecking/properties
