*.aadl
.cache/
*.pro.user
*.pro.user.*

# Ignore whole work directory
work/*

# Except observer.asn
!work/simulation/
work/simulation/*
!work/simulation/observers/
work/simulation/observers/*
!work/simulation/observers/observer.asn

# Except function_2 source
!work/function_2/
work/function_2/*
!work/function_2/SDL
work/function_2/SDL/*
!work/function_2/SDL/src
work/function_2/SDL/src/*
!work/function_2/SDL/src/function_2.pr
!work/function_2/SDL/src/system_structure.pr
!work/function_2/SDL/src/dataview-uniq.asn
!work/function_2/SDL/src/function_2_datamodel.asn

# Except modelchecking
!work/modelchecking/
work/modelchecking/configurations/*

.qtc_clangd/*
t6/*
